extends layout

block content
  div.container
      div.row-lg-10.row-sm-10.row-md-10.justify-content-center
        div.jumbotron
            h1= title
            p Each div has the class col-md-4 setting it to be four columns wide at medium size or higher. Next is the class col-sm-6 setting it to be six columns wide at small size, and finally the class col-xs-12 setting it to twelve columns wide at extra small size

      div.row-lg-10.row-sm-10.row-md-10.justify-content-center
        div.col 
        h2 HEADING@2
        div We start by creating a div with the class row, then nested inside it are three layout divs that will hold the panels illustrated above.
        br
        \Each div has the class col-md-4 setting it to be four columns wide at medium size or higher. Next is the class col-sm-6 setting it to be six columns wide at small size, and finally the class col-xs-12 setting it to twelve columns wide at extra small size
        div.col 
        h2 HEADING@2
        div We start by creating a div with the class row, then nested inside it are three layout divs that will hold the panels illustrated above.
        div.col
            //- div.col-xs-6.col-sm-3.sidebar-offcanvas#sidebar
            h3 heading3 -2
            ul.list-group
                li.list-group-item.active Link
                li.list-group-item Link
                li.list-group-item Link
                li.list-group-item Link
                li.list-group-item Link
                li.list-group-item Link
                li.list-group-item Link
              
        //- div.container
        div.row.center-block
            div.col-md-6.col-lg-6.col-sm-6
                h3 heading3 -1 
                div We start by creating a div with the class row, then nested inside it are three layout divs that will hold the panels illustrated above. Each div has the class col-md-4 setting it to be four columns wide at medium size or higher. Next is the class col-sm-6 setting it to be six columns wide at small size, and finally the class col-xs-12 setting it to twelve columns wide at extra small size.  We start by creating a div with the class row, then nested inside it are three layout divs that will hold the panels illustrated above. Each div has the class col-md-4 setting it to be four columns wide at medium size or higher. 
            
            div.col-md-6.col-lg-6.col-sm-6
                h3 heading3 -2 
                div Next is the class col-sm-6 setting it to be six columns wide at small size, and finally the class col-xs-12 setting it to twelve columns wide at extra small size.  We start by creating a div with the class row, then nested inside it are three layout divs that will hold the panels illustrated above. Each div has the class col-md-4 setting it to be four columns wide at medium size or higher. Next is the class col-sm-6 setting it to be six columns wide at small size, and finally the class col-xs-12 setting it to twelve columns wide at extra small size
               

        //- div.row
        //-     div.col-md-4.col-sm-6.col-xs-12 wertyuioijhfssdfghnm,jxcvbnkhgfghjytfghjktyhujiktyhujik
        //-     div.col-md-4.col-sm-6.col-xs-12 sdrftgyhujikjhgfdrtfgyhujikjihuygftrdftgyhujihygtdrdftgyhujiuhygtresdtfgyhujiuygt