body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


.formCl {

    width: 50%,
    margin:0;
}


.mt-15 {
    margin-top: 5px !important;
}


.has-error {
    color: #f39c12;
}

.has-success {
    color: #18bc9c;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}